
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
    font-family: 'Open Sans', sans-serif;
    color: #7289da;

    background-color: #2f3136;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 10px;
    justify-content: center;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1)), url('https://wallpapercave.com/dwp2x/wp11261676.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    display: flex;
    padding: 20px;
    background-color: #36393f;
    border-radius: 10px;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100%;
    z-index: 8;

}

header a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    margin: 0 10px;
    padding: 10px;
    border-radius: 5px;
    transition: color 0.2s, background-color 0.4s;
    background-color: #36393f;
}

header img {
    text-decoration: none;
    font-size: 18px;
    margin: 0 10px;
    padding: 10px;
    border-radius: 5px;
    transition: color 0.2s, background-color 0.4s;
    background-color: #a8a8a8;
    height: 50px;
}

header a:hover {
    background-color: #7289da;
    color: #2f3136;
}

header a.on-page {
    background-color: white;
    color: #2f3136;
}

.top {
    text-align: center;
    color: rgb(86, 147, 175);
    height: 50%;
    height: fit-content;
    justify-content: center;
    padding: 10%;
    position: fixed;
    z-index: 0;
}

.top h3 {
    align-self: center;
    color: rgb(160, 160, 160);
}

.top h1.title {
    align-self: center;
    color: rgb(160, 160, 160);
    visibility: visible;
}

body::-webkit-scrollbar {
    width: 20px;
    background-color: transparent;
    width: 0px;
}

body::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 10px;
    width: 0px;
}






div.content {
    position: sticky;
    background-color: #2f3136;
    height: auto;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border-radius: 10px;
    padding: 10px;
    align-content: center;
    align-items: center;
    width: auto;
    overflow-y: scroll;
    margin-top: 110%;
    height: fit-content;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    z-index: 3;
}

div.content::-webkit-scrollbar {
    width: 0px;
    visibility: hidden;
}

div.content::-webkit-scrollbar-thumb {
    width: 0px;
    visibility: hidden;
}

li {
    margin: 10px;
}

footer {
    margin-top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;

    margin-top: 10px;
    align-content: center;
    justify-content: center;
    background-color: #36393f;
    border: 10px;
    padding: 20px;
    border-radius: 10px;
    display: flex;

}

img#logo {
    width: 20px;
    height: 20px;
}

br {
    height: 10px;
}

img.gameImg {
    height: 50px;
    transition: height 0.2s, margin 0.2s;
    margin: 10px;
}

img.gameImg:hover {
    height: 55px;
    margin: 5px;
}

a {
    color: #b5cfe9;
    text-decoration: none;
    transition: color 0.2s;
}

a:hover {
    color: #59636e
}

.wrapper {
    z-index: 1000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*:focus,
*:active {
    outline: none !important;
    -webkit-tap-highlight-color: transparent;
}

html,
body {
    display: grid;
    height: 100%;
    width: 100%;
    font-family: "Poppins", sans-serif;
    place-items: center;
    background: linear-gradient(315deg, #ffffff, #d7e1ec);
}

.wrapper {
    display: inline-flex;
    list-style: none;
    right: 20px;
    bottom: 20px;
    height: fit-content;
    width: fit-content;
    padding: 10px;
    position: fixed;
    color: #0B0B0B;
}

.wrapper .icon {
    position: relative;
    background: #ffffff;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55), background-color 0.5s, color 0.5s;
}

.wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
    background: #1DA1F2;
    color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
    background: linear-gradient(225deg, rgba(228, 64, 95, 1) 0%, rgba(253, 163, 102, 1) 100%);
    color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
    background: #333333;
    color: #ffffff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
    background: #CD201F;
    color: #ffffff;
}

.wrapper .steam:hover,
.wrapper .steam:hover .tooltip,
.wrapper .steam:hover .tooltip::before {
    background: #0B0B0B;
    color: #ffffff;
}

.wrapper .discord:hover,
.wrapper .discord:hover .tooltip,
.wrapper .discord:hover .tooltip::before {
    background: #5865F2;
    color: #ffffff;
}

.wrapper .discord:active .copy-tooltip {
    background: #3BA55D;
    color: #ffffff;
}

.wrapper .codepen:hover,
.wrapper .codepen:hover .tooltip,
.wrapper .codepen:hover .tooltip::before {
    background: #0f0f0f;
    color: #ffffff;
}